@let memory = system.memory();

<mat-card class="memory-widget widget">
    <mat-card-header>
        <mat-card-title>Memory</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <mat-tab-group>
            <mat-tab label="Overview">
                <div class="memory-info">
                    <span>Total: {{ memory!.total }} Mb</span>

                    <span>Free: {{ memory!.free }}Mb / {{ memory!.freePercent }}% </span>

                    <span>Used: {{ memory!.used }}Mb / {{ memory!.usedPercent }}%</span>

                    <span>Active: {{ memory!.active }}Mb / {{ memory!.activePercent }}%</span>

                    <span>Swap Total: {{ memory!.swapTotal }} Mb</span>
                    <span>Swap Used: {{ memory!.swapUsed }} Mb</span>
                    <span>Swap Free: {{ memory!.swapFree }} Mb</span>

                    @if (memory!.writeBack) {
                    <span>Write Back: {{ memory!.writeBack }} bytes</span>
                    } @if (memory!.dirty) {
                    <span>Dirty: {{ memory!.dirty }} bytes</span>
                    }
                </div>
            </mat-tab>
            <mat-tab label="Layout">
                @for (stick of memory!.memoryLayout; track $index) {
                <mat-card class="memory-item-card">
                    <div class="memory-info">
                        <span>Bank: {{ stick.bank }}</span>
                        <span>Size: {{ stick.size }} GB</span>
                        <span>Type: {{ stick.type }}</span>
                        <span>Form Factor: {{ stick.formFactor }}</span>
                        @if (stick.manufacturer) {
                        <span>Manufacturer: {{ stick.manufacturer }}</span>
                        } @if (stick.voltageConfigured) {
                        <span>Voltage: {{ stick.voltageConfigured }}V</span>
                        }
                    </div>
                </mat-card>
                }
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>
