@let memory = system.memory();

<mat-card class="memory-widget widget">
    <mat-card-header>
        <mat-card-title>Memory</mat-card-title>
    </mat-card-header>

    <mat-card-content class="memory-info">
        <span>Total Memory: {{ memory!.total }} Mb</span>

        <span>Free Memory: {{ memory!.free }}Mb / {{ memory!.freePercent }}% </span>

        <span>Used Memory: {{ memory!.used }}Mb / {{ memory!.usedPercent }}%</span>

        <span>Active Memory: {{ memory!.active }}Mb / {{ memory!.activePercent }}%</span>

        <span>Swap Total: {{ memory!.swapTotal }} Mb</span>
        <span>Swap Used: {{ memory!.swapUsed }} Mb</span>
        <span>Swap Free: {{ memory!.swapFree }} Mb</span>

        @if (memory!.writeBack) {
        <span>Write Back: {{ memory!.writeBack }} bytes</span>
        } @if (memory!.dirty) {
        <span>Dirty: {{ memory!.dirty }} bytes</span>
        }
    </mat-card-content>
</mat-card>
