@let graphics = system.graphics();

<mat-card class="graphics-widget widget">
    <mat-card-header>
        <mat-card-title>Graphics</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-tab-group>
            <mat-tab label="Controllers">
                @for (controller of graphics!.controllers; track controller.model) {
                <mat-card class="graphics-item-card">
                    <div class="graphics-info">
                        <span>Vendor: {{ controller.vendor }}</span>
                        <span>Model: {{ controller.model }}</span>
                        <span>Bus: {{ controller.bus }}</span>
                        @if (controller.vram) {
                        <span>VRAM: {{ controller.vram }} MB</span>
                        }
                    </div>
                </mat-card>
                }
            </mat-tab>
            <mat-tab label="Displays">
                @for (display of graphics!.displays; track display.model) {
                <mat-card class="graphics-item-card">
                    <div class="graphics-info">
                        <span>Vendor: {{ display.vendor }}</span>
                        <span>Model: {{ display.model }}</span>
                        <span>Main: {{ display.main ? 'Yes' : 'No' }}</span>
                        <span>Resolution: {{ display.currentResX }}x{{ display.currentResY }}</span>
                        @if (display.currentRefreshRate) {
                        <span>Refresh Rate: {{ display.currentRefreshRate }} Hz</span>
                        }
                    </div>
                </mat-card>
                }
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>
