@let cpu = system.cpu();

<mat-card class="cpu-widget widget">
    <mat-card-header>
        <mat-card-title><mat-icon class="title-icon">developer_board</mat-icon>CPU</mat-card-title>
        <mat-card-subtitle>{{ cpu!.manufacturer }} - {{ cpu!.brand.replace('Processor', '') }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-tab-group>
            <mat-tab label="Overview">
                <div class="stat-grid cpu-info">
                    <div class="cpu-usage">
                        <div class="stat-usage-header">
                            <div class="stat">
                                <span class="label">Overall Usage</span>
                                <span class="value">{{ cpu!.cpuLoad.avg }}%</span>
                            </div>
                            <mat-progress-spinner
                                class="cpu-progress-spinner"
                                mode="determinate"
                                [diameter]="44"
                                [strokeWidth]="4"
                                [value]="cpu!.cpuLoad.avg"
                                [color]="cpu!.cpuLoad.avg > 85 ? 'warn' : cpu!.cpuLoad.avg > 60 ? 'accent' : 'primary'"
                            ></mat-progress-spinner>
                        </div>
                        <mat-progress-bar
                            class="cpu-progress-bar"
                            mode="determinate"
                            [value]="cpu!.cpuLoad.avg"
                            [color]="cpu!.cpuLoad.avg > 85 ? 'warn' : cpu!.cpuLoad.avg > 60 ? 'accent' : 'primary'"
                        ></mat-progress-bar>
                    </div>
                    <div class="stat">
                        <span class="label">Cores</span>
                        <span class="value">{{ cpu!.cpuLoad.cores.length }}</span>
                    </div>
                    <div class="stat">
                        <span class="label">Speed</span>
                        <span class="value">{{ cpu!.speed }} GHz</span>
                    </div>
                    <div class="stat">
                        <span class="label">Socket</span>
                        <span class="value">{{ cpu!.socket }}</span>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Cores">
                <div class="cores-grid">
                    @for (core of cpu!.cpuLoad.cores; track $index) {
                    <div class="stat stat--sm">
                        <span class="label">Core {{ $index + 1 }}</span>
                        <span class="value">{{ core }}%</span>
                    </div>
                    }
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>
