@let usb = system.usb();

<mat-card class="usb-widget widget">
    <mat-card-header>
        <mat-card-title><mat-icon class="title-icon">usb</mat-icon>USB</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-tab-group>
            @for (device of usb!.devices; track device.id) {
            <mat-tab [label]="device.name">
                <div class="stat-grid">
                    <div class="stat stat--sm">
                        <span class="label">Name</span>
                        <span class="value">{{ device.name }}</span>
                    </div>
                    <div class="stat stat--sm">
                        <span class="label">Type</span>
                        <span class="value">{{ device.type }}</span>
                    </div>
                    <div class="stat stat--sm">
                        <span class="label">Vendor</span>
                        <span class="value">{{ device.vendor }}</span>
                    </div>
                    <div class="stat stat--sm">
                        <span class="label">Manufacturer</span>
                        <span class="value">{{ device.manufacturer }}</span>
                    </div>
                </div>
            </mat-tab>
            }
        </mat-tab-group>
    </mat-card-content>
</mat-card>
